 body {
      margin: 0;
      font-family: Arial, sans-serif;
      padding: 20px;
      background-color: #eceaea;
    }

    h1 {
      text-align: center;
      color: white;
      padding-top: 15px;
    }

    .box-out{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }

    .center{
      width: 500px;
      height: 300px;
      background-color: white;
      border-radius: 20px;
      box-shadow: 0 2px 5px rgb(15, 187, 255);
    }

    .center h2{
      text-align: center;
      text-decoration: underline;
    }

    .center p{
      text-align: center;
    }